<div class="case case-1 c-2">
	<div class="box">
		<div class="animation-box">
			<!-- box -->
		</div>
		
		<div class="animation-controls">
			<select class="animation-select">
				<option value="" disabled="disabled">Please choose...</option>
                {{#each cases}}
	                <option value="{{this.classNames}}">{{this.caseName}}</option>
                {{/each}}
			</select>
			
			<button class="show-animation">Show Animation</button>
		</div>
	</div>
	
	<div class="box">
		<h1>{{headline}}</h1>
		<pre>
			<code class="language-markup">{{dummy-code-markup}}</code>
		</pre>
		<pre>
			<code class="language-css">{{dummy-code-css}}</code>
		</pre>
		<pre>
			<code class="language-scss">{{dummy-code-scss}}</code>
		</pre>
		<pre>
			<code class="language-javascript">{{dummy-code-javascript}}</code>
		</pre>
	</div>
</div>